<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Interventions</h1>
    <p class="lead">Interventions recorded in ATLAS</p>
  </div>
</header>

  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
		<div class="span12">
		
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Intervention</th>
				<th>Dosimeters</th>
				<th>Videos</th>
			</tr>
			</thead>
	
			<tbody>
				{{#interventions}}
				<tr>
			 		<td>{{id}}</td>
			 		<td><a href="http://atlas.web.cern.ch/Atlas/TCOORD/CavCom/plot.php?InterventionID={{id}}">Plots</a></td>
			 		<td>
            	    	{{#videos}}
<video id="movie" width="320" height="240" controls>
  <source src="{{id}}.webm" type="video/webm; codecs=vp8,vorbis" />
  <source src="{{id}}.mp4" type="video/mp4" />
  <object width="320" height="240" type="application/x-shockwave-flash"
    data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
    <param name="movie" value="flowplayer-3.2.1.swf" />
    <param name="allowfullscreen" value="true" />
    <param name="flashvars" value="config={'clip': {'url': '{{videoURL}}/{{id}}.mp4', 'autoPlay':false, 'autoBuffering':true}}" />
    <p>Download video as <a href="{{id}}.mp4">MP4</a> or <a href="{{id}}.webm">WebM</a>.</p>
  </object>
</video>
<script>
  var v = document.getElementById("movie");
  v.onclick = function() {
    if (v.paused) {
      v.play();
    } else {
      v.pause();
    }
  };
</script>            	    	
						{{/videos}}
			 		</td>
			 	</tr>
			 	{{/interventions}}
			</tbody>
		</table>
		
      	</div>       	
    </div>

  </div>
  
