<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>People</h1>
    <p class="lead">People and Companies working on ATWSS</p>
  </div>
</header>

  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span12">
 		<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		      <img data-src="holder.js/200x100" alt="" src="img/Alexandre.jpeg" width="200">
		      <h3>Alexandre Dos Santos</h3>
		      <p>is developer of the Audio and other parts of the Web Application software 
		      and works on the hardware for ATWSS.</p>
		    </div>
		  </li>
		  
		  <li class="span4">
		    <div class="thumbnail">
		      <img data-src="holder.js/200x100" alt="" src="img/Olga.jpeg" width="200">
		      <h3>Olga Beltramello</h3>
		      <p>is the project leader of ATWSS and of the follow-up project 
		      <a href="cern.ch/edusafe">EDUSAFE</a>. She is in charge of Safety in te ATLAS experiment.</p>
		    </div>
		  </li>

		  <li class="span4">
		    <div class="thumbnail">
		      <img data-src="holder.js/200x100" alt="" src="img/Novocaptis.png" width="320">
		      <h3>Novocaptis</h3>
		      <p>built the camera system as well as all the video handling in hardware and software.</p><br/>
		      <a href="http://www.novocaptis.com">www.novocaptis.com</a>
		    </div>
		  </li>
		</ul>
	  </div>
    </div>

    <div class="row">
      <div class="span12">
 		<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		      <img data-src="holder.js/200x100" alt="" src="img/Mark.jpeg" width="200">
		      <h3>Mark D&ouml;nszelmann</h3>
		      <p>is architect of the software of ATWSS and designer of the Web Application. 
		      He is in charge of keeping the software running.</p>
		    </div>
		  </li>
		  
		  <li class="span4">
		    <div class="thumbnail">
		      <img data-src="holder.js/200x100" alt="" src="img/Dimi.jpeg" width="214">
		      <h3>Dimitar Mladenov</h3>
		      <p>is in charge of all the hardware on ATWSS. Also handles everything else we tend to forget...</p>
		    </div>
		  </li>

		  <li class="span4">
		    <div class="thumbnail">
		      <img data-src="holder.js/200x100" alt="" src="img/Prisma.png" width="320">
		      <h3>Prisma</h3>
		      <p>build the PTU unit and the software for all the measurements.</p><br/>
		      <a href="http://www.prismaelectronics.eu">www.prismaelectronics.eu</a>
		    </div>
		  </li>
		</ul>
	  </div>
    </div>


  </div>
  