<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="css/ATWSS.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                           <link rel="icon" type="image/png" href="img/favicon.png">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.php"><img src="img/favicon.png">ATWSS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            <!--
              <li class="{{introduction}}">
                <a href="./introduction.php">Introduction</a>
              </li>
              <li class="{{equipment}}">
                <a href="./equipment.php">Equipment</a>
              </li>
            -->
              <li class="{{interventions}}">
                <a href="./interventions.php">Interventions</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Dosimeters
				  <b class="caret"></b>
				</a>
                <ul class="dropdown-menu">
                  <li><a href="./dosimeters.php">Today (all)</a></li>
                  <li><a href="./dosimeters.php?InterventionID=1">Intervention 1</a></li>
                  <li><a href="./dosimeters.php?InterventionID=2">Intervention 2</a></li>
                  <li><a href="./dosimeters.php?InterventionID=3">Intervention 3</a></li>
                  <li><a href="./dosimeters.php?InterventionID=4">Intervention 4</a></li>
                  <li><a href="./dosimeters.php?InterventionID=5">Intervention 5</a></li>
                  <li><a href="./dosimeters.php?InterventionID=6">Intervention 6</a></li>
                  <li><a href="http://dimi.com">Good Old 'dimi.com'</a></li>
                </ul>
              </li>
              <li class="{{people}}">
                <a href="./people.php">People</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{{>body}}

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Copyright&copy; 2013 CERN</p>
        <ul class="footer-links">
          <li><a href="http://cern.ch">CERN</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://cern.ch/atlas">ATLAS</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://cern.ch/ATWSS">ATWSS</a></li>
        </ul>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/bootstrap-affix.js"></script>

    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>

    <script src="assets/js/application.js"></script>

  </body>
</html>
